html, body {
    height: 100%;
    margin: 0;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #697689;
    height: 70px;
    line-height: 70px;
    color: white;
}

.App-header h2 {
    margin: 0;
    padding: 0;
}

.App-content-wrapper {
    min-height: calc(100vh - 162px);
}

@media screen and (min-width: 1080px) {
    .App-links {
        position: absolute;
        top: 100px;
        left: 40px;
    }
}

@media screen and (max-width: 1079px) {
    .App-links {
        width: 200px;
        margin: 30px auto;
    }
}

.App-link {
    text-align: left;
    margin-bottom: 5px;
}

.App-link a {
    padding-left: 10px;
    color: black;
    cursor: pointer;
}

.App-link h3 {
    padding-left: 10px;
    display: inline;
}

.App-content {
    font-size: large;
}

.App-content .state {
    margin-left: 5px;
    font-weight: bold;
}

.App-content button.checkout {
    width: 256px;
    margin: 0 auto;
    background-color: #26a69a;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.26);
    color: #fff;
    cursor: pointer;
    height: 52px;
    line-height: 50px;
    text-transform: uppercase;
}

.App-footer {
    background-color: #FF8A65;
}

.App-footer .wrapper {
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 800px) {
    .App-footer .wrapper {
        flex-flow: row wrap;
    }
}

@media screen and (max-width: 799px) {
    .App-footer .wrapper {
        flex-flow: column wrap;
    }
}

.App-footer img {
    height: 130px;
    margin-top: 10px;
}